  {{hostname_fqdn}}{% if hostname_fqdn != hostname_short %}  {{hostname_short}}{% endif %}{% if inventory_hostname.split(".")[0] != hostname_short %}  {{ inventory_hostname.split(".")[0] }}{% endif %}